# See http://help.github.com/ignore-files/ for more about ignoring files.

#General
node_modules

#Subsystems
Subsystems/subs_Ops/Core
Subsystems/subs_Ops/subs_channels.json
Subsystems/subs_DB/assets.json